.header {
    background-color: #dec7b1;
    color: #000;
    font: 400 24px Roboto, sans-serif;
    width: 100%;
}

.headerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 70px;
}

.logo {
    font: 500 128px/0.8 'Alumni Sans', -apple-system, Roboto, Helvetica, sans-serif;
    letter-spacing: -5.12px;
}

.mainNav {
    flex-grow: 1;
}

.navList {
    display: flex;
    gap: 40px;
    list-style-type: none;
    padding: 0;
}

.navLink,
.userLink {
    color: #000;
    text-decoration: none;
}

.userActions {
    display: flex;
    gap: 40px;
}

@media (max-width: 991px) {
    .headerContent {
        flex-direction: column;
        align-items: flex-start;
        padding: 24px 20px;
    }

    .logo {
        font-size: 40px;
    }

    .navList,
    .userActions {
        flex-wrap: wrap;
    }
}