.footer {
    background-color: rgba(253, 247, 240, 1);
    display: flex;
    justify-content: space-between;
    padding: 60px 80px 98px;
    color: rgba(0, 0, 0, 1);
}

.contactInfo {
    text-transform: uppercase;
    font: 400 24px Roboto, sans-serif;
}

.phone, .email {
    margin-bottom: 10px;
}

.branding {
    font-family: 'Alumni Sans', sans-serif;
}

.logo {
    font-size: 128px;
    font-weight: 600;
    line-height: 0.8;
    letter-spacing: -5.12px;
}

.copyright {
    font-size: 32px;
    font-weight: 300;
    letter-spacing: -1.28px;
    margin-top: 59px;
}

@media (max-width: 991px) {
    .footer {
        flex-direction: column;
        padding: 40px 20px;
    }

    .logo {
        font-size: 40px;
    }

    .copyright {
        margin-top: 20px;
    }
}