.artistProfile {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    width: 100%;
    max-width: 1423px;
}

.profileContent {
    display: flex;
    gap: 20px;
    width: 843px;
    max-width: 100%;
}

.artistImage {
    width: 64%;
    aspect-ratio: 1;
    object-fit: contain;
    border-radius: 50%;
}

.artistInfo {
    width: 36%;
    font-family: Roboto, sans-serif;
    color: #000;
}

.sectionTitle {
    font-size: 36px;
    font-weight: 400;
}

.artistDetails {
    font-size: 24px;
    font-weight: 300;
    list-style-type: none;
    padding: 0;
    margin-top: 131px;
}

@media (max-width: 991px) {
    .artistProfile {
        margin-top: 40px;
    }

    .profileContent {
        flex-direction: column;
    }

    .artistImage,
    .artistInfo {
        width: 100%;
    }

    .artistDetails {
        margin-top: 40px;
    }
}