.artworkCard {
    background-color: #e7e2dc;
    display: flex;
    flex-direction: column;
    padding-bottom: 46px;
    font-family: 'Alumni Sans', sans-serif;
    color: #000;
}

.artworkImage {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.artworkTitle {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.96px;
    line-height: 4;
    padding: 0 18px;
    margin: 0;
}

.artistName {
    font-size: 36px;
    font-weight: 600;
    line-height: 103px;
    letter-spacing: -1.44px;
    margin: 45px 0 0 18px;
}

.artworkPrice {
    font-size: 32px;
    font-weight: 500;
    letter-spacing: -0.96px;
    line-height: 4;
    padding: 0 18px;
    margin: 0;
}

@media (max-width: 991px) {
    .artworkCard {
        margin-bottom: 20px;
    }

    .artistName {
        margin: 20px 0 0 10px;
    }
}